
/* Overlay is used to make the background of dialog dark or screen of main content dark */
#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 101;
}

.dialog {
  margin: 10em auto;
  z-index: 2;
  border: none;
  border-radius: 10px;
}

#dialog-header {
  padding: 2em 2em 1em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#rules-image {
  padding: 2em 3em;
}

#close-icon-desktop {
  height: 20px;
  cursor: pointer;
}

#close-icon-mobile {
  display: none;
}

@media (max-width: 500px) {
  #close-icon-desktop {
    display: none;
  }
  #close-icon-mobile {
    display: block;
  }
  .dialog {
    height: 100%;
    width: 100%;
    margin: 0;
    display: grid;
    justify-items: center;
    border-radius: 0;
  }
  #dialog-header {
    font-size: 1.5rem;
  }
}
