#main-container {
  width: 60%;
  min-height: 470px;
  background: url("../images/bg-triangle.svg") no-repeat center bottom;
  background-size: 23em auto;
  animation-name: show;
  animation-duration: 2s;
  margin: auto;
  display: grid;
  justify-items: center;
  align-items: end;
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#dummy {
  display: flex;
  justify-content: space-evenly;
  gap: 80px;
}

#paper {
  position: relative;
  width: 200px;
  aspect-ratio: 1/1;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%)) border-box;
  border-radius: 50%;
  border: 20px solid transparent;
  box-shadow: 0px 30px 0px -20px rgba(0, 0, 0, 0.45) inset,
    0px 10px hsl(230, 89%, 62%);
}

#scissors {
  position: relative;
  width: 200px;
  aspect-ratio: 1/1;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%)) border-box;
  border-radius: 50%;
  border: 20px solid transparent;
  box-shadow: 0px 30px 0px -20px rgba(0, 0, 0, 0.45) inset,
    0px 10px hsl(39, 89%, 49%);
}

#rock {
  position: relative;
  width: 200px;
  aspect-ratio: 1/1;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%)) border-box;
  border-radius: 50%;
  border: 20px solid transparent;
  box-shadow: 0px 30px 0px -20px rgba(0, 0, 0, 0.45) inset,
    0px 10px hsl(349, 71%, 52%);
}

#paper img {
  position: absolute;
  top: 30%;
  left: 30%;
  width: 40%;
}

#scissors img {
  position: absolute;
  top: 30%;
  left: 30%;
  width: 40%;
}

#rock img {
  position: absolute;
  top: 30%;
  left: 30%;
  width: 40%;
}

@media (max-width: 768px) {
  #main-container {
    width: 450px;
    background-size: 20em 20em;
    margin-bottom: 2em;
  }
  #paper {
    width: 170px;
  }
  #scissors {
    width: 170px;
  }
  #rock {
    width: 170px;
  }
}

@media (max-width: 500px) {
  #paper {
    width: 170px;
    border: 15px solid transparent;
    box-shadow: 0px 25px 0px -20px rgba(0, 0, 0, 0.45) inset,
      0px 5px hsl(230, 89%, 62%);
  }
  #scissors {
    width: 170px;
    border: 15px solid transparent;
    box-shadow: 0px 25px 0px -20px rgba(0, 0, 0, 0.45) inset,
      0px 5px hsl(39, 89%, 49%);
  }
  #rock {
    width: 170px;
    border: 15px solid transparent;
    box-shadow: 0px 25px 0px -20px rgba(0, 0, 0, 0.45) inset,
      0px 5px hsl(349, 71%, 52%);
  }
}

@media (max-width: 375px) {
  #main-container {
    width: 350px;
    background-size: 17em 16em;
    background-position: 40px 180px;
  }
  #paper {
    width: 120px;
  }
  #scissors {
    width: 120px;
  }
  #rock {
    width: 120px;
  }
}
