@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
#root,
.App {
  height: 100%;
}

body {
  background-image: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  font-family: "Barlow Semi Condensed", sans-serif;
  line-height: 1.6;
  /* background-repeat: no-repeat; */
  /* overflow: hidden; */
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1 {
  font-weight: 500;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

.App {
  display: grid;
  align-items: end;
}
